@media screen and (min-width: 1024px) and (max-width:1439px)
    .fusceCards1
        width: 400px
        img
            max-width: 100%
    .mauris
        .cardS
            .card
                .text
                    h4
                        margin-top: 50px

@media screen and (min-width: 768px) and (max-width:1023px)
    .fusceCards1
        width: 250px
        img
            max-width: 100%
    .mauris
        .cardS
            display: flex
            flex-direction: column
            align-items: center
            .card
                width: 100%
                .text
                    h4
                        margin-top: 50px

@media screen and ( max-width: 767px)
    .fusceCards1
        width: 250px
        img
            max-width: 100%
    .mauris
        .cardS
            display: flex
            flex-direction: column
            align-items: center
            .card
                width: 100%
                .text
                    h4
                        margin-top: 50px
    